.order {
  display: flex;
  width: 100%;
  background-color: #32322f;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
}

.order__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.order__photoshoot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.button__order {
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 100px;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 25px;
  overflow: hidden;
  border: 1px solid #928765;
  border-radius: 100px;
  outline: none;
  background: #928765;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
}

.order__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c3c3c3;
  margin: 0;
  padding: 0;
  border: 0;
}

.order__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #f4f4f4;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
}

.order__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order__price {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.price__paragraph {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c3c3c3;
  margin: 0;
  padding: 0;
  border: 0;
}

.price__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #f4f4f4;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border: 0;
}

.price__link {
  color: #928763;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .order__title {
    width: 75%;
  }

  .order__price {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .order__title {
    width: 55%;
  }
}
