.services {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
}

.services__title {
  font-weight: 500;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 20px;
  text-align: center;
}

.services__subtitle {
  text-align: left;
}

.package {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.package__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 20px;
  text-align: left;
  padding-left: 5px;
}

.package__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.package__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

.package__subtitle:first-of-type {
  margin-bottom: 10px;
}

.package__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.package__list::before {
  content: '\2022'; /* юникод точки */
  color: rgb(100%, 100%, 100%); /* Менять цвет */
  font-weight: bold; /* Менять жирность */
  display: inline-block; /* Расстояние между точкой и текстом */
  width: 1em; /* Задать значение расстояния */
  font-size: 15px;
  padding-top: 16px;
}

.package__nenu {
  margin: 0;
  padding: 0;
}

.package__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 20px;
  text-align: start;
}

@media (min-width: 768px) {
  .packages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
    /* width: auto; */
    /* min-width: 0; */
  }

  .value {
    margin-top: 10px;
  }

  .package {
    align-items: flex-start;
  }

  .package__title {
    text-align: start;
  }

  .package-service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 18px;
    width: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 2;
    /* flex: 0 0 auto; */
    /* flex: 1 1 auto; */
  }

  .package-service:first-child {
    padding-left: 0;
  }

  .package__price {
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .package-service {
    padding-left: 30px;
  }
}
