.foto {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 292px;
  min-width: 292px; */
}

.foto__image {
  width: 100%;
  /* max-width: 292px;
  min-width: 292px; */
  height: 100%;
  object-fit: cover;
  padding: 0;
  padding-right: 28px;
  margin: 0;
}

.foto__image:last-of-type {
  padding-right: 0;
}
