.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer__link {
  transition: color 0.3s;
  outline: 0;
  text-decoration: none;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer__title {
  width: 100%;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a0a0a0;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a0a0a0;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.footer__logo::before {
  content: '';
  background-size: 100%, contain;
  background-color: transparent;
  display: flex;
  align-self: flex-start;
  background-size: cover;
  background-size: 24px 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.vk::before {
  background-image: url(../../images/VK_Compact_Logo.svg);
}

.instagram::before {
  background-image: url(../../images/icons8-instagram-48.svg);
  background-size: 35px 35px;
  border-radius: 20%;
}

.whatsapp::before {
  background-image: url(../../images/logo-whatsapp.svg);
}

.telegram::before {
  background-image: url(../../images/logo-telegram.svg);
}

.footer__text {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    align-items: stretch;
  }

  .footer__list {
    flex-direction: row;
    gap: 20px;
  }

  .footer__menu {
    padding-top: 17px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .footer__title {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__copyright {
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    margin: 0;
    color: #000000;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-color: #fafafa;
  }
}
