.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1280px;
  width: 100%;
}

.about-me__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
}

.about-me__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 20px;
  text-align: left;
}

.about-me__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

.about-me__list {
  list-style: none;
  margin: 0;
  margin-top: 20px;
}

.about-me__nenu {
  margin: 0;
  padding: 0;
}

@media (min-width: 520px) {
  .about-me__title {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .about-me {
    flex-direction: row;
    align-items: flex-start;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
    max-width: 250px;
    width: 100%;
  }

  .about-me__title {
    text-align: start;
    white-space: nowrap;
  }

  .about-me__nenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .about-me__list:first-child {
    margin-top: 0;
  }
}
